<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id, id: :user_id %>
  </div>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name, id: :user_user_name %>
  </div>

  <div class="field">
    <%= form.label :password_hash %>
    <%= form.text_field :password_hash, id: :user_password_hash %>
  </div>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, id: :user_full_name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :user_type %>
  </div>

  <div class="field">
    <%= form.label :class_id %>
    <%= form.text_field :class_id, id: :user_class_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
