 <div class="container container-center">
<%= form_with(model: user, local: true) do |form| %>
<% if user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<form class="form-horizontal">
  <div class="register-field">
    <div class="form-group ">
      <%= form.label :user_name, class: "control-label" %>
      <%= form.text_field :user_name, id: :user_user_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :password, class: "control-label" %>
      <%= form.password_field :password, id: :user_password, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :password_confirmation, class: "control-label" %>
      <%= form.password_field :password_confirmation, id: :user_password_confirmation, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :full_name, class: "control-label" %>
      <%= form.text_field :full_name, id: :user_full_name, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :role, class: "control-label" %>
      <!--<#%= form.text_field :role, id: :user_role, class: "form-control"  %>-->
      <%= form.select :role,[['Student',0],['Teacher',1],['Admin',2]],{}, :class => 'form-control'%>
    </div>

    <div class="form-group">
      <%= form.label :class_id, class: "control-label" %>
      <%= form.text_field :class_id, id: :user_class_id, class: "form-control"  %>
    </div>
  <!--<div class="col-lg-offset-3 col-lg-3">-->
    <div class="form-group">
      <!--<#%= form.submit current_page?(:controller => 'users',:action => 'edit') ? "Update" : "Register", :class => 'col-lg-7 btn btn-primary btn-block button'%>-->
      <%= form.submit @current_page == 'edit' ? "Update" : "Register", :class => 'col-lg-7 btn btn-primary btn-block button'%>
    </div>
  <!--</div>-->
  </div>

</form>
<% end %>
 </div>